<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="databaseConnection" value="Data Source=/home/demon000/uni/mpp/lab7/server/sqlite.db;Version=3;"/>
    <add key="securityKeySecret" value="#r7Uf=N5QJ7y85-#b?2Jjp%eA64$C%HK"/>
    <add key="securityKeyIssuer" value="Triathlon Server"/>
    <add key="serverHost" value="localhost"/>
    <add key="serverPort" value="8080"/>
    <add key="mqServerHost" value="localhost"/>
    <add key="mqServerPort" value="5672"/>
  </appSettings>
</configuration>
