#nav-bar {
    height: 64px;
    line-height: 64px;

    padding: 0 16px;

    display: flex;
    flex-direction: row;
}

#nav-bar-logo {
    font-size: 32px;
}

#nav-bar-user {
    margin-left: auto;
}

#nav-bar-user-username {
    padding: 0 8px;
}

#nav-bar-user-icon {
    font-size: 32px;
    vertical-align: middle;

    color: #bb86fc;
}
