#login-view {
    min-width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#login-view-modal {
    width: 100%;
    max-width: 520px;

    padding: 16px;

    border-radius: 4px;
    background: #1e1e1e;
}

#login-view-logo {
    font-size: 64px;
    text-align: center;
    margin-bottom: 32px;
}

#login-view .buttons-wrapper {
    text-align: center;
}

#login-error {
    font-size: 14px;
    color: #cf6679;
}

#nav-bar {
    height: 64px;
    line-height: 64px;

    padding: 0 16px;

    display: flex;
    flex-direction: row;
}

#nav-bar-logo {
    font-size: 32px;
}

#nav-bar-user {
    margin-left: auto;
}

#nav-bar-user-username {
    padding: 0 8px;
}

#nav-bar-user-icon {
    font-size: 32px;
    vertical-align: middle;

    color: #bb86fc;
}

#bugs-content {
    margin: 0 auto;
    max-width: 756px;

    padding-top: 52px;

    position: relative;
}

#bugs-content .bugs-category {
    margin-bottom: 32px;
}

#bugs-content .bugs-category > .title {
    color: rgba(255, 255, 255, 0.6);
}

#bugs-content .bugs-category .bug {
    margin-bottom: 16px;

    padding: 8px;

    border-radius: 4px;
    background: #1e1e1e;

    position: relative;
}
#bugs-content .bugs-category .bug > .title,
#bugs-content .bugs-category .bug > .secondary-title,
#bugs-content .bugs-category .bug > .description {
    margin: 0;
}
#bugs-content .bugs-category .bug > .secondary-title {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;

    color: rgba(255, 255, 255, 0.6);
}
#bugs-content .bugs-category .bug > .title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
}
#bugs-content .bugs-category .bug > .description {
    margin: 16px 0 8px 0;
}
#bugs-content .bugs-category .bug > .buttons {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 18px;
    padding: 8px;
}
#bugs-content .bugs-category .bug .buttons-wrapper {
    text-align: right;
}
#bugs-content .bugs-category .bug > .buttons > .mdi {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 24px;
    text-align: center;
    padding: 4px;

    border-radius: 50%;
}
#bugs-content .bugs-category .bug > .buttons > .delete {
    color: #cf6679;
}
#bugs-content .bugs-category .bug > .buttons > .delete:hover {
    background: rgba(207, 102, 121, 0.06);
}
#bugs-content .bugs-category .bug > .buttons > .edit {
    color: #ffee58;
}
#bugs-content .bugs-category .bug > .buttons > .edit:hover {
    background: rgba(255, 238, 88, 0.06);
}

#bug-add-view {
    max-height: 0;
    transition: max-height 500ms;
    overflow: hidden;
}
#bug-add-view.adding {
    max-height: 100vh;
}
#bug-add-view .buttons-wrapper {
    text-align: right;
}

#bug-add-view-toggle {
    position: absolute;
    top: 0;
    right: 0;

    background: #bb86fc;
}
#bug-add-view-toggle.adding {
    background: #cf6679;
}
#bug-add-view-toggle::before {
    content: "\F0412";
}
#bug-add-view-toggle.adding::before {
    content: "\F0156";
}