<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bug Tracker</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.1.45/css/materialdesignicons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">

    <script type="text/x-template" id="bug-view-template">
        <div class="bug">
            <template v-if="!isEditing">
                <div class="buttons">
                    <template v-if="user.role === 'PROGRAMMER'">
                        <i class="solve mdi mdi-check" v-on:click="solveButtonClick"></i>
                    </template>
                    <i class="edit mdi mdi-pencil" v-on:click="editButtonClick"></i>
                    <i class="delete mdi mdi-delete" v-on:click="deleteButtonClick"></i>
                </div>
                <p class="title">{{ data.title }}</p>
                <p class="secondary-title">
                    <template v-if="data.status === 'OPEN'">
                        created by
                        {{ data.createdBy.username }}
                        at
                        {{ formatDate(data.createdAt) }}
                    </template>
                    <template v-else-if="data.status === 'CLOSED'">
                        created by
                        {{ data.createdBy.username }}
                        at
                        {{ formatDate(data.createdAt) }}
                    </template>
                </p>
                <p class="description">{{ data.description }}</p>
            </template>
            <template v-else>
                <div class="input-group">
                    <label>Title</label>
                    <input type="text" v-model="data.title">
                </div>

                <div class="input-group">
                    <label>Description</label>
                    <textarea v-model="data.description" rows="10"></textarea>
                </div>

                <div class="buttons-wrapper">
                    <button v-on:click="saveButtonClick">SAVE BUG</button>
                </div>
            </template>
        </div>
    </script>

    <script type="text/x-template" id="bugs-category-view-template">
        <div class="bugs-category">
            <p class="title">
                {{ title }}
            </p>

            <p v-if="!bugs.length">No bugs.</p>
            <bug-view
                    v-for="bug of bugs"
                    v-if="bug.status === status"
                    v-bind:key="bug.id"
                    v-bind:data="bug"
                    v-bind:user="user"
                    v-on:solve-click="solveBug(bug.id)"
                    v-on:delete-click="deleteBug(bug.id)"
                    v-on:finish-save="load()"
            ></bug-view>
        </div>
    </script>

    <script type="text/x-template" id="bugs-view-template">
        <div id="bugs-view">
            <div id="nav-bar">
                <div id="nav-bar-logo">
                <span class="logo-main-part">
                    Bug
                </span>
                    <span class="logo-secondary-part">
                    Tracker
                </span>
                </div>
                <div id="nav-bar-user">
                    <span id="nav-bar-user-username" v-if="user">{{ user.username }}</span>
                    <i id="nav-bar-user-icon" class="mdi mdi-account-circle"></i>
                </div>
            </div>
            <div id="bugs-content">
                <button id="bug-add-view-toggle" class="fab mdi" v-bind:class="{ 'adding': isAdding }" v-on:click="onAddViewToggleButtonClick"></button>
                <div id="bug-add-view" v-bind:class="{ 'adding': isAdding }">
                    <div class="input-group">
                        <label>Title</label>
                        <input type="text" v-model="addBugTitle">
                    </div>

                    <div class="input-group">
                        <label>Description</label>
                        <textarea v-model="addBugDescription" rows="10"></textarea>
                    </div>

                    <div class="buttons-wrapper">
                        <button v-on:click="addBug">ADD BUG</button>
                    </div>
                </div>
                <bugs-category-view v-bind:title="'Open bugs'" v-bind:status="'OPEN'" v-bind:user="user" ref="openBugsCategory"></bugs-category-view>
                <bugs-category-view v-bind:title="'Closed bugs'" v-bind:status="'CLOSED'" v-bind:user="user" ref="closedBugsCategory"></bugs-category-view>
            </div>
        </div>
    </script>
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script src="dist/index.js"></script>
</body>
</html>
